.App {
  text-align: center;
}


.App-header {
  background-color: #F8F8F8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
.btn{
  background-color:#5863F8;
  border: none;
  color:black;
  font-size: 20px;
  padding: 20px;
  width: 150px;
}
.lable{
  display: flex;
  flex-direction: column;
  text-align: initial;
  color: #5863F8;
  text-transform: capitalize;
  font-size: 1rem;
}
.input{
  padding: 12px;
  border: none;
}
.form{
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.rltv{
  position: relative;
}
.icon{
  position: absolute;
  top: 15px;
  right: 10px;
}